%section
  .info
    = partial :info, locals: {user: @res.info}
  .languages
    %h2
      Languages
    = partial :language, collection: @res.languages
  .projects
    %h2
      Projects
    = partial :project, collection: @res.popular_projects(5)
